body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f4f8;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

section {
    border-bottom: 1px solid #ddd;
}

.header {
    padding: 15px 20px;
    background-color: #e7eeee; 
    color:rgb(54, 51, 51);
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.header:hover {
    background-color: #2980b9; 
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.3s ease, opacity 0.3s ease; 
    padding: 0 20px;
    opacity: 0;
}

.accordion-content p {
    margin: 10px 0;
    color: #333; 
}

.section.active .accordion-content {
    max-height: 300px; 
    padding: 15px 20px;
    opacity: 1;
}

.section.active .header::after {
    content: '-';
    position: absolute;
    right: 20px;
    font-size: 18px;
}

.header::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 18px;
    transition: transform 0.3s ease;
}
